target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
drug-platform.iml
drug-platform-build.iml
.idea/
drug-platform-web/drug-platform-web.iml
drug-platform-web/target/
