<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drug.platform.dao.DrugNameDictDAO">
    <sql id="drug_name_dict_table_name">
        drug_dict
    </sql>
    <select id="searchByInputCode" parameterType="string" resultType="string">
        SELECT DRUG_NAME FROM
        <include refid="drug_name_dict_table_name"/>
        WHERE INPUT_CODE like #{0} AND <![CDATA[ROWNUM<20]]> GROUP BY DRUG_NAME
    </select>
    <select id="searchSpecByName" parameterType="string" resultType="java.util.HashMap">
        SELECT DRUG_CODE,DRUG_SPEC FROM DRUG_DICT WHERE DRUG_NAME=#{0}
    </select>
</mapper>