<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drug.platform.dao.SDMDAO">

    <select id="drugStockInHospital" resultType="java.util.HashMap">
        SELECT
	     A .drug_code,
	     b.drug_name,
	     A .drug_spec,
	     A .units,
	     firm_id,
	SUM (quantity) total_quantity
   FROM
	drug_stock A,
	drug_name_dict b
WHERE
	A .drug_code LIKE '23%'
AND A .drug_code = b.drug_code
AND b.std_indicator = 1
GROUP BY
	A .drug_code,
	drug_name,
	A .drug_spec,
	A .units,
	firm_id
    </select>

    <select id="drugStockInHospitalDetail" resultType="java.util.HashMap">
		SELECT
	c.storage_name,
	A .drug_code,
	drug_name,
	A .drug_spec,
	A .units,
	firm_id,
	batch_no,
	supply_indicator,
	SUM (quantity) total_quantity
FROM
	drug_stock A,
	drug_name_dict b,
	drug_storage_dept c
WHERE
	A .drug_code LIKE '23%'
AND b.std_indicator = 1
AND A . STORAGE = c.storage_code
AND A .drug_code = #{0}
AND A .drug_spec = #{2}
AND A .firm_id = #{3}
AND b.DRUG_NAME=#{1}
GROUP BY
	c.storage_name,
	A .drug_code,
	drug_name,
	A .drug_spec,
	A .units,
	firm_id,
	batch_no,
	supply_indicator
ORDER BY
	c.storage_name,
	A .drug_code,
	drug_name,
	A .drug_spec,
	A .units,
	firm_id,
	batch_no
	</select>

	<select id="spta" resultType="java.util.HashMap">
		SELECT
		x.patient_id,
		z. NAME,
		x.drug_name,
		x.drug_spec,
		x.units,
		y.dept_name,
		SUM (amount) total_amount
		FROM
		(
		SELECT
		E .patient_id,
		D .item_code drug_code,
		D .item_name drug_name,
		D .item_spec drug_spec,
		D .units,
		ordered_by_dept dept_code,
		SUM (amount) amount
		FROM
		outp_bill_items D,
		outp_order_desc E
		WHERE
		D .visit_date = E .visit_date
		AND D .visit_no = E .visit_no
		AND D .visit_date >= #{1}
		<![CDATA[AND D .visit_date <= #{2}]]>
		AND item_class = 'A'
		AND D .item_code LIKE '23%'
		AND E .patient_id = #{0}
		GROUP BY
		E .patient_id,
		D .item_code,
		D .item_name,
		D .item_spec,
		D .units,
		ordered_by_dept
		UNION
		SELECT
		A .patient_id,
		A .item_code drug_code,
		A .item_name drug_name,
		A .item_spec drug_spec,
		A .units,
		A .ordered_by dept_code,
		SUM (A .amount) amount
		FROM
		inp_bill_detail A
		WHERE
		A .billing_date_time >=#{1}
		<![CDATA[AND A .billing_date_time <= #{2}]]>
		AND A .item_class = 'A'
		AND A .item_code LIKE '23%'
		AND A .patient_id = #{0}
		GROUP BY
		A .patient_id,
		A .item_code,
		A .item_name,
		A .item_spec,
		A .units,
		A .ordered_by
		) x,
		dept_dict y,
		pat_master_index z
		WHERE
		x.dept_code = y.dept_code
		AND x.patient_id = z.patient_id
		GROUP BY
		x.patient_id,
		z. NAME,
		x.drug_name,
		x.drug_spec,
		x.units,
		y.dept_name
		ORDER BY
		x.patient_id,
		z. NAME,
		x.drug_name,
		x.drug_spec,
		x.units,
		y.dept_name
	</select>
</mapper>