$base_border_color: #E5E5E5;
$base_bg_color: #F5F5F5;

body {
  background-color: $base_bg_color;
}

.panel {
  border: 1px solid $base_border_color;
  background-color: white;
  padding: 15px;
}

.search-from .form-group {
  margin-right: 40px;
}

.x-btn {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 20px;
}

.explanation {
  background-color: #42C9A5;
  padding: 7px 10px;
  font-weight: bold;
  color: white;
}

.right {
  float: right;
}

.x-pie {
  height: 250px;
}

.x-column {
  height: 300px;
}

.switch-arrow {
  cursor: pointer;
  position: absolute;
  top: 42%;
  z-index: 100;
}

.switch-arrow-left {
  left: 5px;
}

.switch-arrow-right {
  right: 5px;
}

.x-breadcrumb {
  background-color: white;
  border: 1px solid $base_border_color;
}

.x-prom {
  position: relative;
  top: 8px;
  padding: 0 50px;
  margin-top: 10px;
  font-size: 2em;
  font-weight: 600;
  line-height: 200px;
}

.input-inline {
  display: inline-block;
  width: auto;
}

.x-glyphicon-remove {
  color: #FF5400;
  cursor: pointer;
}

.x-export-btn {
  background-color: white;
  border-radius: 2px;
  width: 50px;
  text-align: center;
  height: 20px;
  line-height: 20px;
}

.x-export-btn:hover {
  text-decoration: none;
}

#drugName {
  position: relative;
}

#drugName ul {
  display: none;
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  border: 1px solid #d3d3d3;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 200px;
  z-index: 100;
}

#drugName ul li {
  width: 100%;
  text-align: center;
}

#drugName ul li:hover {
  background-color: #efefef;
  cursor: pointer;
}