.similar-drugs-panel {
  width: 99%;
  border-radius: 2px;
  padding: 10px;
  border: 1px solid $base_border_color;
}

.added-drugs {
  min-height: 50px;
}

@mixin drug {
  border: 1px solid #E5E5E5;
  padding: 6px 15px;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 5px;
}

.similar-drug {
  @include drug;
  cursor: pointer;
}

.similar-drug.disabled {
  background-color: #D7D7D7;
  cursor: default;
}

.similar-drug-selected {
  @include drug;
}

//.similar-drug-selected:a