<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>-->
    <!--<setting name="logImpl" value="LOG4J"/>-->
    <!--</settings>-->
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias alias="User" type="com.drug.platform.model.User"/>
        <typeAlias alias="DrugsThan" type="com.drug.platform.model.DrugsThan"/>
        <typeAlias alias="QueryParams" type="com.drug.platform.model.QueryParams"/>
        <typeAlias alias="DrugNameDict" type="com.drug.platform.model.DrugNameDict"/>
        <typeAlias alias="DrugAmountGlobal" type="com.drug.platform.model.DrugAmountGlobal"/>
        <typeAlias alias="DrugAmountDept" type="com.drug.platform.model.DrugAmountDept"/>
        <typeAlias alias="DrugAmountDoctor" type="com.drug.platform.model.DrugAmountDoctor"/>
        <typeAlias alias="Par" type="com.drug.platform.model.Par"/>
        <typeAlias alias="ParByDoctor" type="com.drug.platform.model.ParByDoctor"/>
        <typeAlias alias="AuthModule" type="com.drug.platform.model.AuthModule"/>
        <typeAlias alias="UserOptLog" type="com.drug.platform.model.UserOptLog"/>
        <typeAlias alias="KeyDrug" type="com.drug.platform.model.KeyDrug"/>
        <typeAlias alias="SimilarKeyDrug" type="com.drug.platform.model.SimilarKeyDrug"/>
    </typeAliases>
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 4.0.0以后版本可以不设置该参数 -->
            <property name="dialect" value="oracle"/>
            <!-- 该参数默认为false -->
            <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
            <!-- 和startPage中的pageNum效果一样-->
            <property name="offsetAsPageNum" value="true"/>
            <!-- 该参数默认为false -->
            <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
            <property name="rowBoundsWithCount" value="true"/>
            <!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
            <!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型）-->
            <property name="pageSizeZero" value="true"/>
            <!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 -->
            <!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
            <!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
            <property name="reasonable" value="false"/>
            <!-- 支持通过Mapper接口参数来传递分页参数 -->
            <property name="supportMethodsArguments" value="false"/>
            <!-- always总是返回PageInfo类型,check检查返回类型是否为PageInfo,none返回Page -->
            <property name="returnPageInfo" value="none"/>
        </plugin>
    </plugins>
</configuration>